*{
    margin: 0;
    padding: 0;

}
img header{
    margin: 0 790px 0 0;    
    
}

body{
    background-color: #000000;
   
}

a { 
    font-family :sans-serif;
    color: #ffffff;
    width: 150px;
    height: 60px;
    display: inline-block;
    text-align: center;
    line-height: 66px;
    border-radius: 36px;
    margin: 10px;
    background-color: rgb(4, 4, 160);

}

h1{ 
    
    font-family :sans-serif;
    color: #ffffff;

}
h2{
    font-family :sans-serif;
    color: #ffffff;
}
p{ 
    
    font-family :sans-serif;
    color: #ffffff;

}

footer{

    
    font-family :sans-serif;
    color: #ffffff;

}

section img{
    width: 720px;
    height: 150px;
    margin: 20px 0;
}